<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Equipment</title>
</head>
<body>
	<h1>Select Your Equipment</h1>
	<ul>
		<li><a href="javascript:void(0)" onclick="selectEquipment('Sword')">Sword</a></li>
		<li><a href="javascript:void(0)" onclick="selectEquipment('Shield')">Shield</a></li>
		<li><a href="javascript:void(0)" onclick="selectEquipment('Bow')">Bow</a></li>
	</ul>
</body>
</html>
