# Ignorar la carpeta node_modules
/node_modules



# Ignorar el archivo package-lock.json
package-lock.json

# Ignorar archivos de entorno (importante para credenciales y configuraciones sensibles)
.env

# Ignorar archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
