<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola jeje</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<ul>
		<li href="/"><a>exit</a>
		<li href="/keybinds"><a>keybinds</a>
		<li href="/"><a>volume</a>
		<li href="/"><a>idk</a>
	</ul>
	<ul>
		<li><a> href="/characters">Select character</a>
		<li><a> href="/equipment">Select equipment</a>
		<li><
	</ul>
</body>
</html>
