<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title><%= title %></title>
    <style>
        body {
            background-color: #343a40; /* Fondo oscuro */
            color: #f8f9fa; /* Texto claro */
        }
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Ocupa toda la altura de la ventana */
        }
        .login-form {
            background-color: #212529; /* Fondo oscuro para el formulario */
            padding: 2rem;
            border-radius: 10px; /* Bordes redondeados */
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7); /* Sombra para el formulario */
        }
        .login-form h2 {
            color: #ffdd57; /* Estilo dorado "souls" */
            text-align: center; /* Centrar texto */
        }
    </style>
</head>
<body>

<div class="login-container">
    <div class="login-form">
        <h2>Bonfire Login</h2>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <% if (error) { %>
                <div class="alert alert-danger mt-2"><%= error %></div>
            <% } %>
            <button type="submit" class="btn btn-warning btn-block">Rest at Bonfire</button>
        </form>
        <div class="text-center mt-3">
            <a href="/register" class="btn btn-info">Registrarse</a>
        </div>
    </div>
</div>

</body>
</html>
